nav {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

nav .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav .nav-link:hover {
    cursor: pointer;
}

nav .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    margin: 0 10px;
}

nav .nav-links a {
    text-decoration: none;
}

nav .nav-links a:visited {
    color: white;
}

.button-link {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    font: inherit;
}
